// colors
$shadow-light: rgba(0, 0, 0, .07);
$shadow-medium: rgba(0, 0, 0, 0.32);
$shadow-dark: rgba(0, 0, 0, 0.62);
$shadow-white-medium: rgba(255, 255, 255, 0.32);
$shadow-white-dark: rgba(255, 255, 255, 0.62);
$white: #fff;
$primary: #05df9d;
$light-gray: #b0b0b0;
$lighter-gray: #d8d8d8;
$text: #55606e;
$value: #21ffa2;
$secondary: #9896dc;
$percentage-hover: rgba(8, 7, 48, 0.8);
